#background-city{
    background-image: url(../img/background2.gif) ;
    background-repeat: repeat-x;
    /* min-height: calc(100vh - 40px); */
}

#overlay-city{
    background: -webkit-linear-gradient( rgb(0, 0, 0, 0), rgba(66,36,69,255) 535px);
    /* min-height: calc(100vh - 45.6px); */
}

#background-sky{
    background-image: url(../img/background-sky.gif) ;
    background-repeat: repeat-x;
    /* min-height: calc(100vh - 40px); */
}

#overlay-sky{
    background: -webkit-linear-gradient( rgb(0, 0, 0, 0), rgb(182,140,218) 760px);
}

#background-3{
    background-image: url(../img/background-3.gif) ;
    background-repeat: repeat-x;
    /* min-height: calc(100vh - 40px); */
    background-position-x: center
}

#overlay-3{
}