#background{
    background-image: url(../img/background2.gif) ;
    background-repeat: repeat-x;
    min-height: calc(100vh - 40px);
}

#overlay{
    background: -webkit-linear-gradient( rgb(0, 0, 0, 0), rgba(66,36,69,255) 535px);
    min-height: calc(100vh - 45.6px);
}