.font-link{
    font-family: 'IBM Plex Sans Arabic'
}

section{
    padding-bottom: 40px;
}

.opaque{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: rgb(241, 234, 234);
}

h1{
    font-size: 70px !important;
}

.projectContainer{
    height: 300px;
}

.projectImage{
    margin: 10px;
    height: 100%;
}

.overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .5s ease-in-out;
    
}

.overlay:hover{
    background-color: rgba(0, 0, 0, .75);
}

.description{
    color: rgba(0, 0, 0, 0);;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    

}

.description:hover{
    color: rgb(241, 234, 234);
    transition: color .5s ease-in-out

}

#proj1{
    background-image: url(../img/vibez.png);
    background-size: cover;
    background-position: center;
}

#proj2{
    background-image: url(../img/pace.PNG);
    background-size: cover;
    background-position: center;
}

#proj3{
    background-image: url(../img/readme-gen.PNG);
    background-size: cover;
    background-position: center;
}

#proj4{
    background-image: url(../img/fun.PNG);
    background-size: cover;
    background-position: center;
}

h2{
    background-color: black;
    color: rgb(241, 234, 234);
}

.githubLink{
    font-size: 20px;
    text-decoration: underline;
}

